/* CSS file */

@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

:root {
    --image_height: 1128px;
    --image_width:564px;
    --profile_size: 150px;
    --orange1: rgb(255, 163, 4);
    --yellow1: rgb(252, 207, 7);
}

* {
    margin:0;
    padding:0;
}

body {
    overflow-x: hidden;
}

main {
    position:absolute;
    display: flex;
    flex-direction: column;
    width:100vw;
}

.background-div {
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:auto;
    z-index:0;

    /* background-color:blue */
}

.background {
    position: relative;
    display:block;
    margin:auto;
    z-index:2;
    min-height:100vh;
    width: var(--image_width);
    height: var(--image_height);
}

.blur {
    margin:0;
    padding:0;
    display:block;
    position:absolute;
    z-index: 0;
    top:0;
    left:0;
    filter:blur(0.6vh);
    height:var(--image_height);
    width:100%;
    min-height:100vh;
}

.cover {
    margin:0;
    padding:0;
    display:block;
    position:absolute;
    z-index: -1;
    top:0;
    left:0;
    height:var(--image_height);
    width:100%;
    min-height:100vh;
}

.profile {
    display:block;
    position:relative;
    top:0;
    left:0;
    width:var(--image_width);
    margin:auto;
    height:auto;
    z-index:3;
    /* background-color: green; */
}

.profile-picture {
    position: relative;
    top: 80px;
    display:block;
    margin:auto;
    width: var(--profile_size);
    height: var(--profile_size);
    border-radius: 50%;
    border: 5px solid var(--orange1);
}

.profile-name {
    font-family: 'Arizonia', cursive;
    font-weight:bold;
    font-size: 50px;
    position:relative;
    display: block;
    margin:auto;
    text-align: center;
    /* background-color: blue; */
    top: 60px;
    color: var(--yellow1);
}

.links-div {
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    /* background-color:red; */
    width:var(--image_width);
    height: 600px;
    margin:auto;
    top:150px;
}

.link-div {
    display:flex;
    flex-direction: column;
    justify-content:center;
    height:60px;
    width: 260px;
    margin:auto;
    background-color:rgba(255, 255, 255, 0.13);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    text-align: center;
    border-radius: 20px;
    border: 2px solid white;
}

a {
    text-decoration: none;
    font-size:20px;
    /* background-color: blue; */
    box-sizing: border-box;
    width:100%;
    height:100%;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.center {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.link-div p {
    text-decoration: none;
    font-weight:bold;
    font-size:20px;
    color: white;
    text-align:center;
    /* background-color: green; */
    box-sizing: border-box;
}


.fa-github {
    color: white;
    font-size:24px;
    vertical-align:middle;
    padding-right:10px
}

.fa-envelope {
    color: white;
    font-size:24px;
    vertical-align:middle;
    padding-right:10px
}

.fa-youtube {
    color: white;
    font-size:24px;
    vertical-align:middle;
    padding-right:10px
}

@media (min-height: 1128px) {
    .background {
        height:100vh;
        width: auto;
    }

}
